* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body {
	position: relative;
  font-family: 'PT Serif', serif;
  color: white;
}

::placeholder {
	color: white;
}

textarea {
	resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

input, label {
	display: block;
}

label {
	margin-top: 10px;
	font-size: 13px;
}
